.bg-ff-logo-central {
  background-image: url(https://central.fairfax.com.br/source/img/ff-seguros-negative.png),
    linear-gradient(
      145deg,
      rgba(0, 13, 80, 0.5333333333333333) 15%,
      rgba(0, 0, 0, 0.23921568627450981) 70%
    ),
    url(https://central.fairfax.com.br/source/img/ff-building.jpg);
  background-position: 50% 50%, 50%, 50%;
  background-size: 85% 23%, 104% 105%, cover;
  background-repeat: no-repeat, no-repeat, no-repeat;
}

.bg-ff-empresarial {
  background-image: url(https://central.fairfax.com.br/source/img/ff-empresas-negative.png),
    linear-gradient(
      145deg,
      rgba(0, 13, 80, 0.7176470588235294) 15%,
      rgba(0, 0, 0, 0.7176470588235294) 70%
    );
  background-position: 100% 50%, 50%;
  background-size: 95% 30%, 104% 104%;
  background-repeat: no-repeat, no-repeat;
}

.bg-ff-empresarial.is-current-view {
  background-image: url(https://central.fairfax.com.br/source/img/ff-empresas-negative.png),
    linear-gradient(
      327deg,
      rgba(0, 0, 0, 0.8274509803921568) 5%,
      rgba(0, 13, 80, 0.5019607843137255) 60%
    ),
    url(https://central.fairfax.com.br/source/img/pre_empresa.jpg);
  background-position: 60% 50%, 50%, 50%;
  background-size: 85% 30%, 109% 109%, 109% 109%;
  background-repeat: no-repeat, no-repeat, no-repeat;
}

.responsabilidade-icon {
  background-image: url(https://central.fairfax.com.br/source/img/responsabilidade.jpg);
  background-position: 50%;
  background-size: 104% 105%;
  background-repeat: no-repeat;
}

.patrimonial-icon {
  background-image: url(https://central.fairfax.com.br/source/img/patrimonial.jpg);
}

.maritimo-icon,
.patrimonial-icon {
  background-position: 50% !important;
  background-size: 120% 100% !important;
  background-repeat: no-repeat !important;
}

.maritimo-icon {
  background-image: url(https://central.fairfax.com.br/source/img/maritimo.jpg);
}

.aeronautico-icon {
  background-image: url(https://central.fairfax.com.br/source/img/aeronautico.jpg);
  background-size: 130% 100% !important;
}

.aeronautico-icon,
.petroleo-icon {
  background-position: 50% !important;
  background-repeat: no-repeat !important;
}

.petroleo-icon {
  background-image: url(https://central.fairfax.com.br/source/img/petroleo.jpg);
  background-size: 140% 100% !important;
}

.bg-ff-agro {
  background-image: url(https://central.fairfax.com.br/source/img/ff-agro-negative.png),
    linear-gradient(
      145deg,
      rgba(0, 13, 80, 0.7176470588235294) 15%,
      rgba(0, 0, 0, 0.7176470588235294) 70%
    );
  background-position: 100% 50%, 50%;
  background-size: 85% 40%, 104% 104%;
  background-repeat: no-repeat, no-repeat;
}

.bg-ff-agro.is-current-view {
  background-image: url(https://central.fairfax.com.br/source/img/ff-agro-negative.png),
    linear-gradient(
      327deg,
      rgba(0, 0, 0, 0.8274509803921568) 5%,
      rgba(0, 13, 80, 0.5019607843137255) 60%
    ),
    url(https://central.fairfax.com.br/source/img/pre_agro.jpg);
  background-position: 90% 50%, 50%, 50%;
  background-size: 85% 35%, 109% 109%, 149% 109%;
  background-repeat: no-repeat, no-repeat, no-repeat;
}

.agricola-icon {
  background-image: url(https://central.fairfax.com.br/source/img/agricola.jpg);
  background-position: 50%;
  background-size: 104% 105%;
  background-repeat: no-repeat;
}

.penhor-icon {
  background-image: url(https://central.fairfax.com.br/source/img/penhor.jpg);
  background-size: 130% 100% !important;
}

.patrimonio-icon,
.penhor-icon {
  background-position: 100% !important;
  background-repeat: no-repeat !important;
}

.patrimonio-icon {
  background-image: url(https://central.fairfax.com.br/source/img/patrimonio-rural.jpg);
  background-size: 144% 105% !important;
}

.animal-icon {
  background-position: 50%;
  background-size: 104% 105%;
  background-repeat: no-repeat;
}

.animal-icon {
  background-image: url(https://central.fairfax.com.br/source/img/animais.jpg);
}

.floresta-icon {
  background-image: url(https://central.fairfax.com.br/source/img/florestas.jpg);
  background-position: 50%;
  background-size: 104% 105%;
  background-repeat: no-repeat;
}

.pecuario-icon {
  background-image: url(https://central.fairfax.com.br/source/img/pecuario.jpg);
  background-position: 100% !important;
  background-size: 160% 105% !important;
  background-repeat: no-repeat;
}

.bg-ff-cargo {
  background-image: url(https://central.fairfax.com.br/source/img/ff-cargo-negative.png),
    linear-gradient(
      145deg,
      rgba(0, 13, 80, 0.7176470588235294) 15%,
      rgba(0, 0, 0, 0.7176470588235294) 70%
    );
  background-position: 85% 50%, 50%;
  background-size: 85% 40%, 104% 104%;
  background-repeat: no-repeat, no-repeat;
}

.bg-ff-cargo.is-current-view {
  background-image: url(https://central.fairfax.com.br/source/img/ff-cargo-negative.png),
    linear-gradient(
      327deg,
      rgba(0, 0, 0, 0.8274509803921568) 5%,
      rgba(0, 13, 80, 0.5019607843137255) 60%
    ),
    url(https://central.fairfax.com.br/source/img/pre_cargo.jpg);
  background-position: 100% 50%, 50%, 50%;
  background-size: 90% 35%, 109% 109%, 109% 109%;
  background-repeat: no-repeat, no-repeat, no-repeat;
}

.embarcador-icon {
  background-image: url(https://central.fairfax.com.br/source/img/embarcador.jpg);
  background-size: 134% 105%;
}

.embarcador-icon,
.transportador-icon {
  background-position: 50%;
  background-repeat: no-repeat;
}

.transportador-icon {
  background-image: url(https://central.fairfax.com.br/source/img/transportador.jpg);
  background-size: 154% 105%;
}

.bg-ff-financials {
  background-image: url(https://central.fairfax.com.br/source/img/ff-riscos-negative.png),
    linear-gradient(
      145deg,
      rgba(0, 13, 80, 0.7176470588235294) 15%,
      rgba(0, 0, 0, 0.7176470588235294) 70%
    );
  background-position: 90% 50%, 50%;
  background-size: 100% 50%, 104% 104%;
  background-repeat: no-repeat, no-repeat;
}

.bg-ff-financials.is-current-view {
  background-image: url(https://central.fairfax.com.br/source/img/ff-riscos-negative.png),
    linear-gradient(
      327deg,
      rgba(0, 0, 0, 0.8274509803921568) 5%,
      rgba(0, 13, 80, 0.5019607843137255) 60%
    ),
    url(https://central.fairfax.com.br/source/img/pre_riscofinan.jpg);
  background-position: 70% 50%, 50%, 50%;
  background-size: 100% 50%, 109% 109%, 109% 109%;
  background-repeat: no-repeat, no-repeat, no-repeat;
}

.profissional-icon {
  background-image: url(https://central.fairfax.com.br/source/img/profissional.jpg);
  background-size: 120% 100% !important;
}

.executivo-icon,
.profissional-icon {
  background-position: 50% !important;
  background-repeat: no-repeat !important;
}

.executivo-icon {
  background-image: url(https://central.fairfax.com.br/source/img/executivo.jpg);
  background-size: 140% 100% !important;
}

.garantia-icon {
  background-image: url(https://central.fairfax.com.br/source/img/garantia.jpg);
  background-position: 50% !important;
  background-size: 120% 100% !important;
  background-repeat: no-repeat !important;
}

.bg-ff-affinity {
  background-image: url(https://central.fairfax.com.br/source/img/ff-pessoas-negative.png),
    linear-gradient(
      145deg,
      rgba(0, 13, 80, 0.7176470588235294) 15%,
      rgba(0, 0, 0, 0.7176470588235294) 70%
    );
  background-position: 100% 50%, 50%;
  background-size: 90% 35%, 104% 104%;
  background-repeat: no-repeat, no-repeat;
}

.bg-ff-affinity.is-current-view {
  background-image: url(https://central.fairfax.com.br/source/img/ff-pessoas-negative.png),
    linear-gradient(
      327deg,
      rgba(0, 0, 0, 0.8274509803921568) 5%,
      rgba(0, 13, 80, 0.5019607843137255) 60%
    ),
    url(https://central.fairfax.com.br/source/img/pre_linhaspessoais.jpg);
  background-position: 100% 50%, 50%, 50% !important;
  background-size: 90% 30%, 109% 109%, 175% 100% !important;
  background-repeat: no-repeat, no-repeat, no-repeat;
}

.acidente-icon {
  background-image: url(https://central.fairfax.com.br/source/img/acidente.jpg);
  background-position: 50% !important;
  background-size: 120% 100% !important;
}

.acidente-icon,
.fianca-icon {
  background-repeat: no-repeat !important;
}

.fianca-icon {
  background-image: url('https://central.fairfax.com.br/source/img/fianca.jpg');
  background-position: 100% !important;
  background-size: 140% 100% !important;
}

.stoploss-icon {
  background-image: url('https://central.fairfax.com.br/source/img/stoploss.jpg');
  background-position: 50% !important;
  background-size: 130% 100% !important;
  background-repeat: no-repeat !important;
}

@media (max-width: 599px) {
  .row > .col-sm-12 {
    height: auto;
    width: 100%;
  }
}

.q-table--grid .q-table__grid-content {
  justify-content: center;
}

body {
  position: -webkit-sticky;
  position: sticky;
  margin-top: -50px;
}

.header {
  background-color: rgba(0, 0, 0, 0.082);
  opacity: 0.9;
}

.slide-1 {
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  background: linear-gradient(
      145deg,
      rgba(0, 13, 80, 0.7176470588235294) 15%,
      rgba(0, 0, 0, 0.7176470588235294) 70%
    ),
    url(https://central.fairfax.com.br/source/img/wepik-20210806.png);
  background-repeat: no-repeat, no-repeat;
  background-position: 100%, 50%;
  background-size: cover, cover;
}

@font-face {
  font-family: Aeonik;
  src: url(../fonts/Aeonik_OVERVIEW-Regular.0e9e84d3.ttf);
}

* {
  font-family: Aeonik;
}

.parent {
  width: 100% !important;
  height: 450px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.child {
  height: 100%;
  width: 100%;
  filter: grayscale(100%);
  transition: 0.5s;
}

.parent:focus .child,
.parent:hover .child {
  transform: scale(1.2);
  filter: grayscale(0%);
  transition: 0.5s;
}

.parent:focus .child:before,
.parent:hover .child:before {
  display: block;
}

.child:focus .a,
.child:hover .a {
  position: absolute;
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  padding: 25% 15% 0% 15%;
  top: 0;
  left: 0;
  background-color: rgba(52, 73, 94, 0.342);
}

.parent:focus .span,
.parent:hover .span {
  display: none;
}

.item-prev .iconfont:before {
  content: '\f104';
}

.item-next .iconfont:before,
.item-prev .iconfont:before {
  font-family: Font Awesome\5 Free;
  font-weight: 900;
  color: #020202 !important;
}

.item-next .iconfont:before {
  content: '\f105';
}

.a {
  display: none;
  text-align: center;
}

.acoes {
  border-radius: 50% !important;
  border: 1px solid rgba(112, 109, 109, 0.376);
  cursor: pointer;
}

.VueCarousel-navigation-button[data-v-453ad8cd] {
  color: #fff !important;
  font-size: 200%;
}

.bu {
  width: 125px;
  height: 40px;
}

@media (min-width: 600px) {
  .container .slider .slider-box .slider-box__item img[data-v-a3ae56fe] {
    width: auto !important;
    height: 100% !important;
  }
}

@media (min-width: 1024px) {
  .container .slider .slider-box .slider-box__item img[data-v-a3ae56fe] {
    width: 65% !important;
    height: auto !important;
  }
}

.container .slider .slider-box .slider-box__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
